@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Quicksand&display=swap');
:root {
    font-family: 'Quicksand', sans-serif;
    --main-color: black;
}
body {
    max-width: 980px;
    width: 100%;
    margin: auto;
}
p ul {
    margin: o;
    padding: o;
}
header {
    background-color: #f8f9fa;
    height: 100px;
    justify-content: space-around;
}

.social-link-footer {
       display: inline-flex;
       padding-top: 20px;
       padding-right: 5px;
    }
    .social-link-header {
        display: none;
    }
.logo {
    font-family: 'Bangers', cursive;
    font-size: 30px;
    margin: 0;
    color: cornflowerblue;
    text-align: center;
    }
.call-box {
    display: none;
    }
.banner {
    background-image: url(../img/carwash.jpg);
    min-height: 700px;
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-logo {
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 4rem;
}
.main-logo-item {
    font-family: 'Bangers', cursive;
    font-size: 5rem;
     color: white;
}
.footer-container {
    background-color: cornflowerblue;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.copyright-text {
    padding-top: 20px;
    padding-left: 40px;
    color: white;
}
@media (min-width: 500px) {
    header {
        display: flex;
    }
    .call-box {
    display: inline;
    background-color: cornflowerblue;
    padding: 25px;
    margin-top: 10px;
    color: white;
    text-align: center;
    }
    .call-box-item {
        color: white;
    }
    .social-link-footer {
        display: none;
    }
    .social-link-header {
        display: inline-flex;
        padding-top: 25px;
        margin: 5px;
    }
    .footer-container {
        justify-content: left;
    }
    .copyright-text {
        padding-left: 70px;
    }
