@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Quicksand&display=swap');
:root {
    font-family: 'Quicksand', sans-serif;
    --main-color: black;
}
body {
    max-width: 980px;
    width: 100%;
    margin: auto;
}
p h1 {
    margin: o;
    padding: o;
}
.main-text {
    padding-top: 80px;
    text-align: center;
}
.main-text-item {
    font-size: 3rem;
    color: cornflowerblue;
    margin-top: 20px;
}
.visit-container {
    display:flex;
    text-align: center;
    justify-content: space-evenly;
}
.map-box {
    align-items: center;
    justify-content: center;
}